<launch>
  <!-- Set the name of your package -->
  <arg name="package_name" default="turtle_regulation_jameel_edoo" />

  <!-- Launch the set_way_point.py node -->
  <node name="set_way_point_node" pkg="$(arg package_name)" type="set_way_point.py" output="screen">
    <!-- Set the dynamic Kpl parameter (adjust the value as needed) -->
    <param name="Kpl" type="double" value="1.0" />
  </node>
</launch>

